@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');
body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #FA80B5;
}
body p {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    font-size: 150%;
}

.logo{
    height: 80px;
}
/*Game board and card styling*/
.game-board{
    position: relative;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}
.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}
.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}
.Game-flex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #3a3a3a;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.cardBack > img{
    height: 66px;
    width: 66px;
    
}
/*Button Styling*/
button{
    cursor: pointer;
    height:100px;
    width:100px;
}
.btn--start{
    cursor: pointer;
}

.controls{
    justify-content:start;
}