@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@900&display=swap');
header{
    width:100%;
    background-color: white;
    position:absolute;
    width: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: 80px;
}
body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #474747;
    background-color: #FA80B5;
}
body p {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #474747;
    font-size: 150%;
}
.title{
    padding-left: 100px;
}
.logo{
    height: 80px;
    float:left;
    padding-left: 10px;
}
.landing{
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.5vh;
    text-align: center;

}

/*Styling for other parts of the game, such as win text points and buttons*/
.points{
    padding-left: 40%;
    font: 120%;
}
.play-again{
    padding-top: 250px;
    position: relative;
}
.play-again-btn{
    position: absolute;
    cursor: pointer;
    color:white;
    text-align: center;
    background-color: #474747;
    border-radius: 10px;
    left:33%;
    right:33%;
    top:60%;
}
.win{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ff0000;
}
.win-text{
    width:400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #474747;
}
.highlight {
    color: #ffffff;
}
/*Game board and card styling*/
.game-board{
    position: relative; /*There aren't many elements for this site so I am opting not to use flexboxes*/
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}
.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}
.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}
.Game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #474747;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1); /*Found using https://cubic-bezier.com/*/
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.cardBack > img{
    height: 66px;
    width: 66px;
    
}

/*Responsiveness and scaling*/
@media screen and (max-height:1000px) {
    header{
        height: 60px;
    }
    .logo{
        height: 60px;
    }
    .title{
        padding-left: 130px;
    }
    .game-board{
        top:50px;
    }
    .title{
        font-size: 16pt;
    }
}
@media screen and (max-width:800px) {
    .card{
        width: 87px;
        height: 87px;
    }
    .landing{
        padding-top: 15%;
        font-size: 2.3vw;
    }
}
@media screen and (max-width:500px) {
    header{
        height: 60px;
    }
    .logo{
        height: 60px;
    }
    .title{
        padding-left: 130px;
    }
    .card{
        width: 80px;
        height: 80px;
    }
    .game-board{
        width: 90%;
    }
}
@media screen and (max-width:450px) {
    header{
        height: 60px;
        width:100%;
    }
    .logo{
        height: 60px;
    }
    .title{
        padding-left: 130px;
    }
    .card{
        width: 70px;
        height: 70px;
    }
    .game-board{
        width:50%;
    }
}
@media screen and (max-width:400px) {
    header{
        height: 60px;
    }
    .logo{
        height: 60px;
    }
    .title{
        padding-left: 130px;
    }
    .card{
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width:375px) {
    header{
        height: 60px;
    }
    .logo{
        height: 60px;
    }
    .title{
        padding-left: 130px;
    }
    .card{
        width: 60px;
        height: 60px;
    }
    .game-board{
       margin-left: 3%;
    }
}
@media screen and (max-width:320px) {
    header{
        height: 60px;
    }
    .logo{
        height: 60px;
    }
    .title{
        padding-left: 130px;
    }
    .card{
        width: 60px;
        height: 60px;
    }
    .game-board{
       margin-left: 10%
    }
    .title{
        font-size: 16pt;
    }
}
